# 가상환경
venv/
.env/
.venv/

# 환경 설정
.env
*.env

# Python 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/에디터
.vscode/
.idea/
*.swp

# 로그 & 데이터
*.log
logs/
*.sqlite3

# 빌드 & 배포 산출물
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# 시스템 파일
.DS_Store
Thumbs.db

# 추가 무시 파일
*.pdf
*.csv
*.json
